@media (max-width:1024px){
	
}
@media (max-width: 991px){
	
}
@media (max-width: 767px){
	
}
@media (max-width:680px ){
	.main-title{
		font-size: 1.4rem;
	}
}
@media (max-width: 575px){
	.box-search{
		width: 100%;
		margin-bottom: 15px;
	}
	.btn-search{
		width: 100%;
	}
	.btn-responsive{
		width: 100%;
	}
	.main-title{
		text-align: center;
	}
	.brand img{
		margin: auto;
		display: table;
	}
	.bg{
		height: calc(100% - 140px);
	}
}
@media (max-width: 812px) and (max-height: 380px){
	
}