html, body{
	height: 100%;
	min-height: 100%;
}
.bg{
	font-family: GothamNarrowBook;
	background-image: url('../images/frontend/bg_public_schedule.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: calc(100% - 95px);
	overflow-y:auto; 
}
.header{
	background: #fff;
	padding:15px 0;
	width: 100%;
	display: table;
}
.main-title{
	font-size: 24px;
	padding-top: 15px;
	margin:0;
	width: 100%;
	display: table;
	text-align: right;
}
.brand{
	height: 60px;
}
.brand img{
	height: 60px;
}
.full-width{
	width: 100%;
	display: table;
	position: relative;
}
.bg-transparent{
	background: rgba(255,255,255,0.5);
	border:2px solid #fff;
	padding:15px 20px;
	width:100%;
	display: block;
}
.bg-white{
	background: #fff;
	padding: 15px 20px;
	display: block;
	width: 100%;
}
.padtopbot-20{
	padding-top:20px;
	padding-bottom:20px;
}
.box-title{
	width: 100%;
	display: table;
	border-bottom: 2px solid #ccc;
	padding-bottom: 15px;
}
.bolder{font-weight: bold;}
.padleft-30{padding-left: 30px !important;}
.padleft-50{padding-left: 50px !important;}
.form-control::-webkit-input-placeholder{color: #ccc !important;}
.form-control::-moz-placeholder{color: #ccc !important;}
.form-control:-ms-input-placeholder{color: #ccc !important;}
.form-control:-moz-placeholder{color: #ccc !important;}
.m-none{margin:0;}
.mbot-15{margin-bottom: 15px;}
.icon-float{
	position: absolute;
	left: 15px;
	top:10px;
	color: #ccc;
}
.tab-responsive{
	overflow-x: auto;
}
.table-blue{
	border:1px solid #fff;
	width: 100%;	
	border-collapse: collapse;
    border-spacing: 0;
}

.table-blue tr:nth-child(even) {
    background-color: #6fa8dd;
}

.table-blue tr:nth-child(odd) {
	background-color: #adceeb;
}

.table-blue th{
	color:#fff;
	text-transform: uppercase;
	text-align: center;
	background: #0080c9;
	font-size: 12px;
	min-width: 100px;
	padding:15px;
	border-bottom: 2px solid #fff;
}
.table-blue td{
	color: #fff;
	vertical-align: middle !important;
	text-align: center;
	border-bottom: 1px solid #fff;
	font-size: 14px;
	padding:5px;
}
.box-search{
	position: relative;
	width: calc(100% - 220px);
	float: left;
}
.btn-search{
	float: right;
	width: 200px;
}
.box-collapse{
	display: none;
}
button{
	cursor: pointer;
}
.table-hover tbody tr:hover td {
  background-color: #eff1f4 !important;
  color: #4e4e4e !important;
}
.icon{
	width: 20px;
}
.icon img{
	width: 100%;
}
.text-green{
	color: #51d76d !important;
}
.text-red{
	color: #fe162c !important;
}
.text-orange{
	color: #f4a53c !important;
}
.text-blue{
	color: #2b69cc !important;
}
.text-brown{
	color: #895833 !important;
}