<?xml version="1.0" encoding="UTF-8"?>
  <configuration>
      <system.webServer>
        <httpProtocol>
          <customHeaders>
            <add name="Access-Control-Allow-Headers" value="Content-Type, Origin, X-Requested-With, Content-Type, Accept, Access-Control-Request-Method, Access-Control-Allow-Origin, Authorization" />
            <add name="Access-Control-Allow-Methods" value="GET, POST" />
            <add name="Access-Control-Allow-Credentials" value="true" />
            <add name="Content-Type" value="application/json, text/html" />
                <add name="Access-Control-Allow-Origin" value="*" />
          </customHeaders>
        </httpProtocol>
        <rewrite>
          <rules>
              <rule name="Index">
              <match url="^(.*)$" />
              <conditions>
                <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
              </conditions>
                    <action type="Rewrite" url="index.php/{R:1}" />
            </rule>
          </rules>
        </rewrite>
      </system.webServer>
</configuration>