.bg-dark-blue{background: #32404e;} 
.bg-white{background: #fff;}

.mar-0{margin:0;}
.mar-5{margin:5px;}
.mar-10{margin:10px;}
.mar-15{margin:15px;}
.mar-20{margin:20px;}
.mar-25{margin:25px;}

.marbot-0{margin-bottom: 0px !important}
.marbot-5{margin-bottom: 5px}
.marbot-10{margin-bottom: 10px !important}
.marbot-15{margin-bottom: 15px}
.marbot-20{margin-bottom: 20px}
.marbot-25{margin-bottom: 25px}
.marbot-30{margin-bottom: 30px}

.martop-0{margin-top: 0px !important}
.martop-5{margin-top: 5px}
.martop-10{margin-top: 10px}
.martop-15{margin-top: 15px !important}
.martop-20{margin-top: 20px}
.martop-25{margin-top: 25px}
.martop-30{margin-top: 30px}
.martop-35{margin-top: 35px}
.martop-40{margin-top: 45px}

.marleft-0{margin-left: 0px}
.marleft-5{margin-left: 5px}
.marleft-10{margin-left: 10px}
.marleft-15{margin-left: 15px}
.marleft-20{margin-left: 20px}
.marleft-25{margin-left: 25px}

.marright-0{margin-right: 0px}
.marright-5{margin-right: 5px}
.marright-10{margin-right: 10px}
.marright-15{margin-right: 15px}
.marright-20{margin-right: 20px}
.marright-25{margin-right: 25px}

.pad-0{padding:0 !important;}
.pad-5{margin:5px;}
.pad-10{margin:10px;}
.pad-15{margin:15px;}
.pad-20{margin:20px;}
.pad-25{margin:25px;}
.pad-30{margin:30px;}

.padbot-0{padding-bottom: 0px}
.padbot-5{padding-bottom: 5px}
.padbot-10{padding-bottom: 10px}
.padbot-15{padding-bottom: 15px}
.padbot-20{padding-bottom: 20px}
.padbot-25{padding-bottom: 25px}

.padtop-0{padding-top: 0px}
.padtop-5{padding-top: 5px}
.padtop-10{padding-top: 10px}
.padtop-15{padding-top: 15px !important}
.padtop-20{padding-top: 20px}
.padtop-25{padding-top: 25px !important}
.padtop-30{padding-top: 30px !important}
.padtop-35{padding-top: 35px}
.padtop-40{padding-top: 40px}
.padtop-60{padding-top: 60px}
.padtop-80{padding-top: 80px}

.padleft-0{padding-left: 0px}
.padleft-5{padding-left: 5px}
.padleft-10{padding-left: 10px}
.padleft-15{padding-left: 15px}
.padleft-20{padding-left: 20px}
.padleft-25{padding-left: 25px}
.padleft-30{padding-left: 30px}

.padright-0{padding-right: 0px}
.padright-5{padding-right: 5px}
.padright-10{padding-right: 10px}
.padright-15{padding-right: 15px}
.padright-20{padding-right: 20px}
.padright-25{padding-right: 25px}
.padright-30{padding-right: 30px}

.fsize-9{font-size: 9px;}
.fsize-10{font-size: 10px;}
.fsize-11{font-size: 11px;}
.fsize-12{font-size: 12px;}
.fsize-13{font-size: 13px;}
.fsize-14{font-size: 14px;}
.fsize-15{font-size: 15px;}
.fsize-16{font-size: 16px;}
.fsize-17{font-size: 17px;}
.fsize-18{font-size: 18px;}
.fsize-19{font-size: 19px;}
.fsize-20{font-size: 20px;}
.fsize-28{font-size: 28px;}
.fsize-30{font-size: 30px !important;}
.fsize-36{font-size: 36px;}
.fsize-46{font-size: 46px;}
.fsize-xxl{font-size: 12vw;}

.single-line{line-height: 1;}

.border-grey{border: 1px solid #dedede;}
.borright-grey{border-right: 1px solid #dedede;}
.borleft-grey{border-left: 1px solid #dedede;}
.bortop-grey{border-top: 1px solid #dedede;}
.borbottom-grey{border-bottom: 1px solid #dedede;}

.borright-soft-grey{border-right: 1px solid #ececec;}

.bolder{font-weight: bold;}

.text-grey{color:#c7c7c7;}
.text-darkgrey{color:#464646;}
.text-red{color:#ed5758;}
.text-green{color:#95da6c;}
.text-orange{color:#f7941d;}
.text-blue{color:#00aeef;}
.text-dark-blue{color:#2051f5;}

.uppercase{
   text-transform: uppercase;
}

.height-56{height:56px;}

.header-name .fullname{
	font-size: 12px;
	display: block;
	font-weight: bold;
	line-height: 1;
	margin-top: 2px;
}

.header-name .rolename{
	font-size: 10px;
	display: block;
}

.header-dropdown{
	padding-left:20px;
	padding-right:20px;
	border-left:1px solid #dedede;
}

.header-dropdown.dropdown-toggle::after{
   font-family:FontAwesome;
   content:'\f142';
   display: inline-block;
   width: 10px;
   height: 18px;
   margin-left: 0;
   vertical-align: middle;
   border-top: 0;
   border-right: 0;
   border-left: 0;
   text-align: center;
   padding-top: 15px;
}

.form-control:focus{
   border-color:#62b0ed;
}

.form-control.error{
   border-color:red;
}

/*label.error::after{
   font-family: FontAwesome;
   content:'\f00d';
   color: red;
   position: absolute;
   right: 25px;
   top:-26px;
   z-index: 11;
}*/

label.error{
   color:red;
   font-size: 12px;
   position: absolute;
   bottom: -25px;
   left:25px;
   width: calc(100% - 25px);
}

.form-group{
   margin-bottom: 1.5rem !important;
}

.form-info{
   color: #597798;
   cursor: pointer;
}

.form-info-content{
   position: absolute;
   left: 40px;
   top:0;
   background:#597798;
   color: #fff;
   font-size: 12px;
   padding: 5px 8px;
   display: none;
   transition: all 1s ease;
   visibility: hidden;
}

.form-info:hover + .form-info-content{
   display: block;
   visibility: visible;
}

.form-info-content:after {
   content: '';
   position: absolute;
   border-style: solid;
   border-width: 7px 7px 7px 0;
   border-color: transparent #597798;
   display: block;
   width: 0;
   z-index: 1;
   left: -7px;
   top: 10px;
}

.btn-info{
   background: #5090d8 !important;
   border-color: #5090d8 !important;
}
.btn-info:hover, .btn-info:active, .btn-info:focus{
   background: #4278b6 !important;
   border-color : #4278b6 !important;
}

.btn{
   cursor: pointer;
}

.notfound-image{
   width: 80%;
   display: table;
   margin: auto;
}

.notfound-text{
   font-size: 12vw;
   line-height: 1;
   margin:0 0 40px;
}

/*.navside .nav li a{
   padding:.4rem 1rem !important;
}*/
.open > .dropdown-menu{
   opacity: 1;
   -webkit-transform: scale(1);
   -ms-transform: scale(1);
   transform: scale(1);
   pointer-events: auto;
   display: block !important;
}
.viewpass{
   position: absolute;
   right:18px;
   bottom: 1px;
}
.loadingpage{
   position: fixed;
   background: rgba(0,0,0,0.7);
   width: 100%;
   height: 100%;
   display: block;
   z-index: 9999;
}
.loadingpage img{
   position: absolute;
   top:0;
   bottom: 0;
   left: 0;
   right: 0;
   margin:auto;
   display: table;
}
.full-width{
   width: 100%;
   display: table;
}
.btn-primary, .btn-danger{
   color:#fff !important;
}
.valign-mid{vertical-align: middle !important;}

.hide-caret::after{
   display: none;
}

.control {
  display: table;
  position: relative;
  margin-bottom: 5px;
  cursor: pointer;
  font-size: 18px;
}
.control span{
    font-size: 14px;
    position: relative;
    display: table;
    padding-left: 27px;
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control__indicator {
  position: absolute;
  top: 0px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #fff;
  border-radius: 3px;
  border:1px solid #ececec;
}
.control--radio .control__indicator {
  border-radius: 50%;
}
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: #ccc;
}
.control input:checked ~ .control__indicator {
  background: #2490e6;
}
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: #2490e6;
}
.control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}
.control__indicator:after {
  content: '\e5ca';
  font-family: 'Material Icons';
  position: absolute;
  display: none;
  color: #fff;
  font-size: 12px;
}
.control input:checked ~ .control__indicator:after {
  display: block;
}
.control--checkbox .control__indicator:after {
  width: 3px;
  height: 8px;
  left:3px;
}
.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b;
}
.control--radio .control__indicator:after {
  left: 7px;
  top: 7px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #fff;
}
.control--radio input:disabled ~ .control__indicator:after {
  background: #7b7b7b;
}

.control__indicator.no-bg-right{
   right:10px;
   left: auto;
   top:0px;
   border:1px solid transparent;
}
.control:hover input ~ .control__indicator.no-bg-right,
.control input:focus ~ .control__indicator.no-bg-right {
  background: transparent;
}
.control input:checked ~ .control__indicator.no-bg-right {
  background: transparent;
}
.control:hover input:not([disabled]):checked ~ .control__indicator.no-bg-right,
.control input:checked:focus ~ .control__indicator.no-bg-right {
  background: transparent;
}
.control__indicator.no-bg-right:after{
   color: #000;
   font-size: 15px;
}
.control--checkbox input:disabled ~ .control__indicator.no-bg-right:after {
  border-color: transparent;
}

.w-normal{
   font-weight: normal !important;
   background-color: #efeff2;
   width: 80px;
}

.w-110{
    width: 110px;
    height: 110px;
    line-height: 56px;
    display: inline-block;
    text-align: center;
    margin:auto;
    display: block;
    border:1px solid #ccc;
}
@media(max-width: 991px){
   .hide-scroll{
      overflow-y: auto;
   }
}
@media(max-width: 680px){
   .notfound-text{
      font-size: 40vw;
      text-align: center;
   }
   .nav-item .fsize-18{
      font-size: 3.2vw;
   }
   .nav.padleft-25{
      padding-left: 0;
   }
   table .btn-sm{
      margin-bottom: 5px;
      display: table;
   }
   .cut-text{
      width: 150px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;
   }
   .res-right{
      margin-left: initial !important;
      margin-right: 5px;
   }
   .app-footer{
      position: relative;
   }
}

@media(min-width: 600px){
   .datatableButton{
       position: absolute; 
       bottom: -60px; 
       right:15px;
       z-index: 10;
   }
}

/*.box-header {
   padding-bottom: 0rem;}*/

.box-body {
   padding-top: 0.5rem;}

   .input-group-append{
    padding: 10px;
   }

.avatar{overflow: hidden;}
.avatar-md{
  overflow: hidden;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin:6.5rem auto -6.5rem;
}
.nav-box li{
  margin-right: 10px;
}
.nav-box li a{
  display: table;
  width: 220px;
  background:#fff;
  border-radius: 4px;
  padding:20px 10px;
}
.nav-box li a:hover, .nav-box li.active a{
  background:#fdc689;
}
.nav-box li a .nav-icon{
  float: left;
  width: 50px;
}
.nav-box li a .nav-icon i{
  color: #8dc63f;
}
.nav-box li a .nav-text{
  float: left;
  width: 140px;
  padding: 0 !important;
}
.nav-box li a .nav-text p{
  margin-bottom: 0 !important;
}

#map {
  height: 400px;  /* The height is 400 pixels */
  width: 100%;  /* The width is the width of the web page */
 }
.box.p-a {
  height: auto !important;
  display: table !important;
  width: 100% !important;
}
.centered-image{
  display: table;
  margin:auto;
  max-width: 120px;
  max-height: 120px;
}
.icon-contain{
  width: 77px;
  float: left;
}
.text-contain{
  width: calc(100% - 77px);
  float: left;
}
.text-contain-2{
  width: 200px;
  float: left;
}
.nav-pill-custom li{
  display: table;
  width: 265px;
  margin-right: 15px;
  background:#fff;
  border-radius: 4px;
}
.nav-pill-custom li a.active,.nav-pill-custom li.active, .nav-pill-custom li:hover{
  background:#f9cb9c !important;
}
.nav-pill-custom li a{
  background:#fff;
  padding:15px;
  width: 100%;
  display: table;
}
.photo-contain{
  width: 80px;
  height: 80px;
  overflow: hidden;
  display: block;
  position: relative;
  border-radius: 100px;
}
.photo-contain img{
  width: 100%;
  position: absolute;
  display: table;
  margin: auto;
  top:0;
  left: 0;
  bottom: 0;
  right: 0;
}
.nav-tabs-text li{
  width: 50%;
  display: inline-block;
}
.nav-tabs-text li a{
  width: 100%;
  padding:5px;
  text-align: center;
  color: #00aeef;
  font-weight: bold;
  display: table;
  font-size: 20px;
  border:0 !important;
}
.nav-tabs-text li.active a, .nav-tabs-text li:hover a, .nav-tabs-text li a.active{
  color: #f7941d !important;
} 
.italic{
  font-style: italic;
}
.image-contain{
  width: 252px;
  float: left;
  display: table;
  margin-right: 20px;
}
.image-contain img{
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  display: table;
}
.text-contain-3{
  width: calc(100% - 292px);
  float: left;
  display: table;
  padding-left: 15px;
}
.smiley{
  width: 20px;
  height: 20px;
  float: left;
  display: table;
}
.smiley.happy{
  background-image: url('../images/icon-smiley.png');
  background-repeat: no-repeat;
  background-position: -22px 0px;
}
.smiley.sad{
  background-image: url('../images/icon-smiley.png');
  background-repeat: no-repeat;
  background-position: 0 0;
}
.smiley.standar{
  background-image: url('../images/icon-smiley.png');
  background-repeat: no-repeat;
  background-position: -44px 0;
}
.box-subheader{
  margin-bottom: 15px;
  width: 100%;
  display: table;
}
.rate-contain{
  float: left;
 
}
.text-contain-4{
  width: calc(100% - 425px);
  float: left;
  display: table;
}